*{
    box-sizing: border-box;
    list-style: none;
}
.content{
    margin-top: 50px;
    display: flex;
}

.container {
  
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.right_panel{
    flex: 0 0 25%;
}