.header{
    display:flex;
    overflow: hidden;
    background-color: dimgrey;
    padding: 25px 12px;
}
.hright{
    float:right;
}
.header a{
    float:left;
    color:black;
    text-align: center;
    padding: 13px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 3px;
}
.header a.logo{
    font-size: 20px;
    font-weight: bold;
}
.header a:hover{
    background-color: rgb(132, 137, 141);
    color:white;
}
.header a.button_active{
    background-color: rgb(182, 34, 71);
    color:white;
}

