.header {
    overflow: hidden;
    background-color: rgb(93, 200, 233);
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo_container {
    flex: 1 1 60%;
}

.logo {
    float: left;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    font-style: italic;
    padding-left: 30px;
}

.button_container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.button_log_in {
    float: right;
    border: solid 2px white;
    border-radius: 25px;
    margin-right: 15px;
    font-size: 20px;
    padding-top: 2px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: 600;
    background-color: rgb(93, 200, 233);
}
.button_sign_up {
    float: right;
    border: solid 2px white;
    border-radius: 25px;
    margin-right: 15px;
    font-size: 20px;
    padding-top: 2px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    text-decoration: none;
    color: rgb(93, 200, 233);
    font-weight: 600;
    background-color:white;
}
.button_log_in:hover{
    background-color:rgb(117, 194, 218) ;
}
.button_sign_up:hover{
    background-color:rgb(243, 243, 243);
    border: solid 2px rgb(243, 243, 243);
}