*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

h1 {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50px);
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-size: 10em;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0 5px 10px rgba(0,0,0,1);
	mix-blend-mode: overlay;
	font-family: 'Roboto Slab', serif;
	box-shadow: 0 5px 10px rgba(0,0,0,1);
	text-decoration: none;
}

.footer{
	width: 100%;
	height: auto;
	margin: auto;
	background:rgb(93, 200, 233);
	padding: 20px 0px;
	
}

.footer_icons{
    width: 100%;
    height: auto;
    margin: auto;
}

.footer_icons ul{
    margin: 0px;
	padding: 0px;
	text-align: center;
}

.footer_icons ul li{
    display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0px 10px;
	border-radius: 100%;
	background:#f8f8f8; 
}

.footer_icons ul li a{
    text-decoration: none;
	color: rgb(93, 200, 233);
	font-size: 25px;
	display: block;
}

.footer_icons ul li a i{
    line-height: 50px;
}

.footer_icons ul li a:hover >i{
    transform: scale(1.6) rotate(25deg);
}

.footer_content{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 25px;
}

.footer_content ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.footer_content ul li{
    display: inline-block;
    margin: 10px 20px;
}

.footer_content ul li a{
    text-decoration: none;
    outline: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color:white;
    font-weight: 750;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer_content ul li a:hover{
    transform: scale(1.6) rotate(25deg);
}