 

.footer{
 
	background:rgb(93, 200, 233);
	padding: 20px 0px;
	flex-shrink: 0;
	display: flex;
	
}

.footer_icons{
    width: 100%;
    height: auto;
    margin: auto;
}

.footer_icons ul{
    margin: 0px;
	padding: 0px;
	text-align: center;
}

.footer_icons ul li{
    display: inline-block;
 
	margin: 0 10px;
}

.footer_icons ul li a{
    text-decoration: none;
	color: rgb(93, 200, 233);
	font-size: 25px;
	display: block;
}
 

 
.footer_content{
    width: 100%;
    
    margin: auto;
     
}

.footer_content ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.footer_content ul li{
    display: inline-block;
    margin: 10px 20px;
}

.footer_content ul li a{
    text-decoration: none;
    outline: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color:white;
    font-weight: 750;
    text-transform: uppercase;
    letter-spacing: 1px;
}
 