.header {
    overflow: hidden;
    background-color: rgb(93, 200, 233);
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

.logo_container {
    flex: 1 1 60%;
}

.logo {
    font-weight: bold;
    float: left;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    font-style: italic;
    padding-left: 30px;
    text-decoration: none;
}

.button_container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.button_log_in {
    float: right;
    border: solid 1px white;
    border-radius: 25px;
    margin-right: 15px;
    font-size: 18px;
    padding-top: 6px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 8px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: 600;
    background-color: rgb(93, 200, 233);
}
.button_sign_up {
    float: right;
    border: solid 1px white;
    border-radius: 25px;
    margin-right: 15px;
    font-size: 18px;
    padding-top: 6px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 8px;
    text-decoration: none;
    color: rgb(93, 200, 233);
    font-weight: 700;
    background-color:white;
}
.button_log_in:hover{
    background-color:rgb(117, 194, 218) ;
}
.button_sign_up:hover{
    background-color:rgb(243, 243, 243);
    border: solid 1px rgb(243, 243, 243);
}

.button_user{
    margin-right: 20px;
    font-size: 25px;
    color:rgb(245, 238, 238);
    font-weight: 700;
}