.about{
    padding-top: 15px;
}

 
.hidden_elem{
    display: none;
     
}

.text_expand{
    display: inline;
}

.collapse_button{
    
        border:none;
        cursor: pointer;
        width: 100px;
        height: 40px;
        background-color:rgb(93, 200, 233);
         border-radius: 5px;
        font-size: 12px;
        line-height: 1.2;
        font-weight: 700;
        color: #ffffff;
        float: right;
       
    
    
}