@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.NavBar_container {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ul_style {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    
}
.margin_tags {
    
  padding: 15px 20%;
}

.margin_tags:first-child {
    margin-top: 0px;
}

.link {
    position: relative;
    text-decoration: none;
    color: rgb(62, 149, 216); 
     transition-duration: 0.3s;
}
 
.link:hover  {
    transform: scale(1.1);
    color: rgb(36, 26, 131);
     
}  

.active_link:visited {
    color: rgb(0, 63, 102);
}
